*.class
.DS_Store
bin/*
ABAGAIL.jar
.idea
# Package Files #
*.jar
*.war
*.ear
manifest.mf
/bin

*.java~
__pycache__
.ipynb_checkpoints
*.zip
*.csv
*.db

Optimization_Results/*
OptimizationResults/*

*.aux
*.log
*.toc
*.fls
*.fdb_latexmk
*.dvi
*.out
*.gz
*~
*.old
*.lyx
